.graph-language{
    height: 99%;
    width: 95%;
    border-radius: 15px;
    background-color: #1E1E1E;
    margin-left: 5%;
 
}

.titulo-graph{
    padding-top: 20%;
    text-align: center;
    color: aliceblue;
}

.owner-graph{
    text-decoration: underline;
    font-style: italic;
    padding-top: 10%;
    color: aliceblue;
}

.sub-graph{
    text-align: center;
    font-style: italic;
    color: aliceblue;
}

.Doughnut{
    height: 300px;
   
}