.card-insights-branches{
    width: 98%;
    background-color:#1E1E1E;
    border-radius:15px;
    padding: 5%
}

.title-insights-branches{
    text-align:center;
    color:aliceblue
}

.number-insights-branches{
    color:aliceblue;
}

