.dark .card-insights-forks{
    width: 98%;
    background-color:#1E1E1E;
    border-radius:15px;
    padding: 5%;
 
}
.light .card-insights-forks{
    width: 98%;
    background-color:#9AA0A6;
    border-radius:15px;
    padding: 5%;
 
}

.title-insights-forks{
    text-align:center;
    color:aliceblue
}

.number-insights-forks{
    color:aliceblue;
}

