.content{
    border-radius: 15px;
    background-color: #1E1E1E;
    height: 550px;
    margin-top: 3%;
    justify-content: space-around;
}

.titulo-nome{
    text-align: center;
}

.bio{
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.update-perfil{
   
    text-align: center;
    font-size: 13px;
    font-style: italic;
}

.info-perfil{
    font-size: 12px;
    text-align: center;
    padding-top: 20%;
    width: 93px;
    border-radius: 3%;
}


b{
    font-size: 15px;
}



.scroll{
    overflow-y: scroll;
    height: 100%;
}

.repos-button{
    border-radius: 15px;
    height: 10px;
}

.content-repos{
    border-radius: 15px;
    background-color: #1E1E1E;
    height: 15%;
    margin-top: 2%;
    justify-content: space-around;
}

.info-repo{
    text-align: center;
    color: aliceblue;
}

.desc-repo{
    background-color: #1E1E1E;
    border-radius: 15px;
    padding: 1%;
    margin-bottom: 2%;
    width: 100%;
}

.btn-custom {
  
 
    background-color: green;
      
     
    /* outras propriedades de estilo opcionais */
      
     
    color: white;
    }
    

.repo-desc{
    color: aliceblue;
    text-align: justify;
}
.repo-p{
    size: 25px;
    padding-top: 2%;
    color: aliceblue;
}

.graphcs-repo{
    margin-top: 2%;
    

}



.graph-language{
    height: 100%;
    padding: 5%;
    width: 100%;
    border: solid 2px black;
    border-radius: 15px;
    background-color: #1E1E1E;
    ;
  
}

.titulo-graph{
    padding-top: 5%;
    text-align: center;
    color: aliceblue;
}

.owner-graph{
    text-decoration: underline;
    font-style: italic;
    padding-top: 10%;
    color: aliceblue;
}

.sub-graph{
    text-align: center;
    font-style: italic;
    color: aliceblue;
}

.Doughnut{
    height: 300px;
    
}

.testando{
    height: auto;
    width: 100%;
    margin-bottom: 2%;
}

.testando1{
    height: 245px;
    width: 100%;
    background-color: #1E1E1E ;
}