

.content{
    background-color: #1E1E1E;
    border-radius: 15px;
    height: 650px;
    
}




.titulo-nome{
    text-align: center;
}

.bio{
    color: #fcfcfc;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.update-perfil{
    color: #fcfcfc;
    text-align: center;
    font-size: 13px;
    font-style: italic;
}

.info-perfil{
    color: #fcfcfc;
    font-size: 12px;
    text-align: center;
    padding-top: 20%;
    width: 93px;
    border-radius: 3%;
}


b{
    font-size: 15px;
}

 
.row-principal{
    height: 100%;
}

.colun-2{
    align-content: center;
    width: 70%;
    height: 100%;
}

.scroll::-webkit-scrollbar{
    width: 12px;
    border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb{
    background-color: #37393B;
    border-radius: 5px;
    height: 2px;
}


.scroll{
    align-items: center;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    height: 85%;
    padding: auto;

}

.btn-div{
    background-color: aqua;
}

.button-repo{
    border: 1px solid transparent;
    border-radius: 14px;
    width: 75%;    
    padding: 18px;
    background-color: #37393B;
    color: #fcfcfc;
    font-size: 20px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
}

.button-repo:hover{
    background-color: #D9D9D9;
    color: #37393B;
}

.content-repos{
    border-radius: 15px;
    background-color: #1E1E1E;
    margin-top: 1%;
    justify-content: space-around;
  
}

.info-repo{
    text-align: center;
    color: aliceblue;
}

.desc-repo{
    background-color: #1E1E1E;
    border-radius: 15px;
    padding: 1%;
    margin-bottom: 2%;
    width: 100%;
}


   

.repo-desc{
    color: aliceblue;
    text-align: justify;
}
.repo-p{
    size: 25px;
    padding-top: 2%;
    color: aliceblue;
}





.graph-language{
    height: 98%;
    padding: 5%;
    width: 100%;
    border-radius: 15px;
    background-color: #1E1E1E;
    ;
 
}

.titulo-graph{
    padding-top: 5%;
    text-align: center;
    color: aliceblue;
}

.owner-graph{
    text-decoration: underline;
    font-style: italic;
    padding-top: 10%;
    color: aliceblue;
}

.sub-graph{
    text-align: center;
    font-style: italic;
    color: aliceblue;
}

.Doughnut{
    height: 300px;
   
}

.testando{
    height: auto;
    width: 100%;
    margin-bottom: 2%;
}

.testando1{
    height: 245px;
    width: 100%;
    background-color: rgb(236, 0, 0);
}

.commits-graph{
    height: 25rem;
    padding: 5%;
    margin-bottom: 0.3rem;
    width: 100%;
    border-radius: 15px;
    background-color: #1E1E1E;
}