/* Tema Claro */
:root {
  --background-color: #fff;
  --text-color: #000;
}

/* Tema Escuro */
:root.dark {
  --background-color: #000;
  --text-color: #fff;
}







.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}